<div class="delivery">
    <div class="title">Способы доставки:</div>
    <div>
        Способы доставки - <b>самовывоз, курьер</b>
        {#, срок доставки - <b>сегодня</b>#}
    </div>
</div>