<div class="user_rate">
    {#<a href="https://www.layta.ru/rvi-ipc21dnl-bez-obektiva/discussion.html#product_menu"#}
       {#class="discussion"><span>Задать вопрос</span></a>#}
    {#<a href="https://www.layta.ru/rvi-ipc21dnl-bez-obektiva/reviews.html#product_menu"#}
       {#class="reviews"><span>Отзывы <b>2</b></span></a>#}

    {#<span class="rating-stars active" id="vote_81286" data-vote-id="81286">#}
        {#<span class="star" data-star="star" title="1" data-vote="0"></span>#}
        {#<span class="star" data-star="star" title="2" data-vote="1"></span>#}
        {#<span class="star" data-star="star" title="3" data-vote="2"></span>#}
        {#<span class="star" data-star="star" title="4" data-vote="3"></span>#}
        {#<span class="star" data-star="star" title="5" data-vote="4"></span>#}
    {#</span>#}
</div>