<div class="payment">
    <div class="title">Способы оплаты:</div>
    <span class="visa help-info hbottom"><span>Банковская карта</span></span><span
            class="mastercard help-info hbottom"><span>Банковская карта</span></span>
    <span class="nal help-info hbottom"><span>Наличный расчет</span></span> <span
            class="bank help-info hbottom"><span>Банковский перевод</span></span><span
            class="yandex help-info hbottom"><span>Yandex Деньги</span></span><span
            class="webmoney help-info hbottom"><span>Webmoney</span></span><span
            class="sberbank help-info hbottom"><span>Сбербанк Онлайн</span></span><span
            class="alfa help-info hbottom"><span>Альфа-Клик</span></span><span
            class="psb help-info hbottom"><span>Промсвязьбанк, интернет-банк</span></span>
</div>