<div class="row-fluid">
    <div class="span8">
        <div class="row-fluid">
            <div class="span6">
                <div>
                    <strong>Россия</strong> Shop by Honeywell<br/>
                    1210059, г. Москва<br/>
                    ул. Киевская<br/>
                    дом 7, подъезд 7, этаж 8<br/>
                    Тел.: +7 (495) 926 17 77<br/>
                    Факс: +7 (495) 795 08 81<br/>
                    e-mail: <a href="mailto:hls-russia@honeywell.com">hls-russia@honeywell.com</a><br/>
                    <a href="http://www.hls-russia.com" target="_blank">www.hls-russia.com</a><br/>
                    <time datetime="Mo-Fr 9:00−18:00" itemprop="openingHours">пн-пт с 9:00 до 18:00</time>
                </div>
                <hr/>
            </div>
            <div class="span6">
                <div itemscope="" itemtype="http://schema.org/LocalBusiness">
                    <address>
                        <strong>Россия</strong> <span itemprop="name">ООО&laquo;ВАЙФАЙНДЕР&raquo;</span><br/>

                        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                            <span itemprop="postalCode">105005,</span>
                            <span itemprop="addressLocality">г.&nbsp;Москва</span><br/>
            <span itemprop="streetAddress">наб.&nbsp;Академика Туполева,<br/>
            дом 15, корпус 28, офис 1 (3-й этаж)</span><br/>
                            Тел.:<span itemprop="telephone"><a href="tel:+74955093007">+7 495 509-30-07</a></span><br/>
                            Тел.:<span itemprop="telephone"><a href="tel:+74955005570">+7 495 500-55-70</a></span><br/>
                            e-mail: <span itemprop="email"><a
                                        href="mailto:ООО%20ВАЙФАЙНДЕР%20&lt;info@wifinder.biz&gt;?subject=feedback_Shopbyhoneywell">info@wifinder.biz</a></span><br/>
                            <a href="http://www.wifinder.biz/sale_Shop_by_honeywell" target="_blank">www.wifinder.biz</a><br/>
                            <time datetime="Mo-Fr 9:00−18:00" itemprop="openingHours">пн-пт с 9:00 до 18:00</time>
                        </div>
                    </address>
                </div>
                <hr/>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <p>Подбор оборудования Shop и расчет заказа производится индивидуально.</p>

                <p>Купить оборудование <a href="http://wifinder.biz/sale_Shop_by_honeywell">системы пожарной сигнализации Shop
                        by Honeywell</a>, <a href="http://www.wifinder.biz/catalog/brands/variodyn-d1">системы речевого
                        оповещения VARIODYN® D1</a> или <a href="http://www.wifinder.biz/catalog/brands/Ackermann_clino">системы
                        вызова медперсонала Ackermann Clino by Honeywell</a> Вы можете в компании <a
                            href="http://www.wifinder.biz/">&laquo;ВАЙФАЙНДЕР&raquo;</a> &ndash; официального дистрибьютора
                    компании Honeywell в России и странах СНГ. </p>

                <p>Стоимость продукции зависит от наличия на складе, объема заявки, способа оплаты и курса валют.</p>

                <p>Для получения более подробной информации направляйте запрос на <a
                            href="mailto:OOO Wifinder<info@wifinder.biz>?subject=feedback_Shopbyhoneywell_contacts">почту</a> к
                    специалистам компании <a href="http://www.wifinder.biz/">&laquo;ВАЙФАЙНДЕР&raquo;</a>, являющейся
                    официальным дистрибьютором продукции Honeywell в России.</p>

                <p>Пожалуйста <b>ЗАПОЛНИТЕ ЗАЯВКУ</b> для расчета стоимости заказа и специалисты подготовят для Вас <b>ЛУЧШИЕ
                        УСЛОВИЯ!</b></p>
            </div>
        </div>
    </div>
    <div class="span4">
        <script type="text/javascript" src="http://formz.diplom48.ru/api/getJS/wf.form.js"></script>
        <script type="text/javascript">
            $().ready(function () {
                var wf = new WfForm();
                wf.SetOptions({
                    form: 'Shop-feedback-form',
                    container: 'formId',
                    redirect_url: 'http://www.Shopbyhoneywell.ru/contacts'
                });
                wf.Init.Module();
            })
        </script>
        <div id="formId"></div>
    </div>
</div>





<div class="row-fluid">
    <div class="span4">
        <div>
            <strong>Россия</strong> Shop by Honeywell<br/>
            1210059, г. Москва<br/>
            ул. Киевская<br/>
            дом 7, подъезд 7, этаж 8<br/>
            Тел.: +7 (495) 926 17 77<br/>
            Факс: +7 (495) 795 08 81<br/>
            e-mail: <a href="mailto:hls-russia@honeywell.com">hls-russia@honeywell.com</a><br/>
            <a href="http://www.hls-russia.com" target="_blank">www.hls-russia.com</a><br/>
            <time datetime="Mo-Fr 9:00−18:00" itemprop="openingHours">пн-пт с 9:00 до 18:00</time>
        </div>
        <hr/>
    </div>

    <div class="span4">
        <div itemscope="" itemtype="http://schema.org/LocalBusiness">
            <address>
                <strong>Россия</strong> <span itemprop="name">ООО&laquo;ВАЙФАЙНДЕР&raquo;</span><br/>

                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <span itemprop="postalCode">105005,</span>
                    <span itemprop="addressLocality">г.&nbsp;Москва</span><br/>
            <span itemprop="streetAddress">наб.&nbsp;Академика Туполева,<br/>
            дом 15, корпус 28, офис 1 (3-й этаж)</span><br/>
                    Тел.:<span itemprop="telephone"><a href="tel:+74955093007">+7 495 509-30-07</a></span><br/>
                    Тел.:<span itemprop="telephone"><a href="tel:+74955005570">+7 495 500-55-70</a></span><br/>
                    e-mail: <span itemprop="email"><a
                                href="mailto:ООО%20ВАЙФАЙНДЕР%20&lt;info@wifinder.biz&gt;?subject=feedback_Shopbyhoneywell">info@wifinder.biz</a></span><br/>
                    <a href="http://www.wifinder.biz/sale_Shop_by_honeywell" target="_blank">www.wifinder.biz</a><br/>
                    <time datetime="Mo-Fr 9:00−18:00" itemprop="openingHours">пн-пт с 9:00 до 18:00</time>
                </div>
            </address>
        </div>
        <hr/>
    </div>
    <div class="span4">
        <script type="text/javascript" src="http://formz.diplom48.ru/api/getJS/wf.form.js"></script>
        <script type="text/javascript">
            $().ready(function () {
                var wf = new WfForm();
                wf.SetOptions({
                    form: 'Shop-feedback-form',
                    container: 'formId',
                    redirect_url: 'http://www.Shopbyhoneywell.ru/contacts'
                });
                wf.Init.Module();
            })
        </script>
        <div id="formId"></div>
    </div>
</div>

<div class="row-fluid">
    <div class="span10 offset1">
        <p>Подбор оборудования Shop и расчет заказа производится индивидуально.</p>

        <p>Купить оборудование <a href="http://wifinder.biz/sale_Shop_by_honeywell">системы пожарной сигнализации Shop
                by Honeywell</a>, <a href="http://www.wifinder.biz/catalog/brands/variodyn-d1">системы речевого
                оповещения VARIODYN® D1</a> или <a href="http://www.wifinder.biz/catalog/brands/Ackermann_clino">системы
                вызова медперсонала Ackermann Clino by Honeywell</a> Вы можете в компании <a
                    href="http://www.wifinder.biz/">&laquo;ВАЙФАЙНДЕР&raquo;</a> &ndash; официального дистрибьютора
            компании Honeywell в России и странах СНГ. </p>

        <p>Стоимость продукции зависит от наличия на складе, объема заявки, способа оплаты и курса валют.</p>

        <p>Для получения более подробной информации направляйте запрос на <a
                    href="mailto:OOO Wifinder<info@wifinder.biz>?subject=feedback_Shopbyhoneywell_contacts">почту</a> к
            специалистам компании <a href="http://www.wifinder.biz/">&laquo;ВАЙФАЙНДЕР&raquo;</a>, являющейся
            официальным дистрибьютором продукции Honeywell в России.</p>

        <p>Пожалуйста <b>ЗАПОЛНИТЕ ЗАЯВКУ</b> для расчета стоимости заказа и специалисты подготовят для Вас <b>ЛУЧШИЕ
                УСЛОВИЯ!</b></p>
    </div>
</div>