# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: localhost
    database_port: null
    database_name: dev_esser_shop
    database_user: webdev
    database_password: fd78rw42

    database2_host: localhost
    database2_port: null
    database2_name: dev_esser_catalog
    database2_user: webdev
    database2_password: fd78rw42

    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    locale: ru
    ip_access:
    #        - 212.164.221.9
    #        - 37.187.107.151
    #        - 213.87.138.242

    path_uploads: /var/www/vhosts/esserbyhoneywell.ru/dev/web/uploads/
    project_id: 1
    catalog_url: 'http://catalog_dev.esserbyhoneywell.ru/app_dev.php/'
    form_api: 'http://formz.diplom48.ru/api/'
