<section class="breadcrumbs">
    <div class="wrapper">
        <ul vocab="http://schema.org/" typeof="BreadcrumbList">
            <li property="itemListElement" typeof="ListItem" itemscope=""
                itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="https://www.layta.ru/" itemprop="url" property="item" typeof="WebPage"><span itemprop="title"
                                                                                                      property="name">Главная</span></a>
                <meta property="position" content="1">
            </li>
            <li property="itemListElement" typeof="ListItem" itemscope=""
                itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="https://www.layta.ru/videonablyudenie/" itemprop="url" property="item" typeof="WebPage"><span
                            itemprop="title" property="name">Видеонаблюдение</span></a>
                <meta property="position" content="2">
            </li>
            <li>
                <span>IP камеры</span>

            </li>
        </ul>
    </div>
</section>