<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Get your free trial and explore the possibilities!</h2>
            </div>
        </div>
        <form name="sentMessage" id="contactForm" class="mw800 center-block clearfix" novalidate="">
            <div class="form-group">
                <input class="form-control" placeholder="Your Name *" id="name" required="" data-validation-required-message="Please enter your name." type="text">
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Your Email *" id="email" required="" data-validation-required-message="Please enter your email address." type="email">
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-xl btn-block btn-wire">Subscribe</button>
            </div>
        </form>
        <p> By subscribing you agree to our terms and conditions. </p>

    </div>
</section>