<div class="panel-heading">
    <span class="panel-title">
      <span class="glyphicon glyphicon-print"></span> Printable Invoice
    </span>
    <div class="panel-header-menu pull-right mr10">
        <button type="button" class="btn btn-xs btn-default btn-gradient mr5">
            <i class="fa fa-plus-square pr5"></i> New Invoice
        </button>
        <a href="javascript:window.print()" class="btn btn-xs btn-default btn-gradient mr5">
            <i class="fa fa-print fs13"></i>
        </a>
        <div class="btn-group">
            <button type="button" class="btn btn-xs btn-default btn-gradient dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
            <ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
                <li>
                    <a>
                        <i class="fa fa-user"></i> View Profile </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-envelope-o"></i> Message </a>
                </li>
            </ul>
        </div>
    </div>
</div>