<h2><span class="glyphicon glyphicon-list"></span> Меню сайта</h2>
<div class="panel invoice-panel">
    <div class="panel-heading">
        <div class="panel-header-menu pull-right mr10" ng-include="pathToTmpl + 'include/_list_panel_header_menu.html'"></div>
    </div>
    <div class="panel-body">
        <div class="row mb20" id="invoice-table">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th field-sort-pizone field-alias="'id'" field-label="'ID'" field-type="'int'"></th>
                        <th field-sort-pizone field-alias="'name'" field-label="'Название'" field-type="'string'"></th>
                        <th field-sort-pizone field-alias="'alias'" field-label="'Псевдоним'" field-type="'string'"></th>
                        <th>Активно?</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="menu in list">
                        <td><b>{{menu.id}}</b></td>
                        <td>{{menu.name}}</td>
                        <td>{{menu.alias}}</td>
                        <td button-active-pizone ng-model="menu"></td>
                        <td list-button-group-pizone="'menu'" ng-model="menu"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer" ng-include="pathToTmpl + 'include/_list_footer.html'"></div>
</div>