<nav>
    <ul>
        <li class="active empty"><strong><a href="/ip-kamery/">IP камеры</a></strong>
        </li>

        <li class="active empty"><strong><a href="/ip-videoregistratory/">IP видеорегистраторы</a></strong>
        </li>

        <li class="active empty"><strong><a href="/ip-videoservery/">IP видеосерверы</a></strong>
        </li>

        <li class="active empty"><strong><a href="/analogovye-kamery/">Аналоговые камеры</a></strong>
        </li>

        <li class="active empty"><strong><a href="/tsifrovye-videoregistratory/">Цифровые
                    видеорегистраторы</a></strong>
        </li>

        <li class="active empty"><strong><a href="/videoregistratory-gibridnye/">Видеорегистраторы
                    гибридные</a></strong>
        </li>

        <li class="active empty"><strong><a href="/videoservery/">Видеосерверы</a></strong>
        </li>

        <li class="active empty"><strong><a href="/obektivy/">Объективы для камер
                    видеонаблюдения</a></strong>
        </li>

        <li class="active empty"><strong><a href="/zhestkie-diski-hdd/">Жесткие диски (HDD)</a></strong>
        </li>

        <li class="active empty"><strong><a href="/monitory/">Мониторы для видеонаблюдения</a></strong>
        </li>

        <li class="active empty"><strong><a href="/kodery-i-dekodery/">Кодеры и декодеры</a></strong>
        </li>

        <li class="active empty"><strong><a href="/programmnoe-obespechenie-platy-videozakhvata/">Программное
                    обеспечение, платы видеозахвата</a></strong>
        </li>

        <li class="active "><strong><a href="/dopolnitelnoe-oborudovanie-videonablyudeniya/">Дополнительное
                    оборудование видеонаблюдения</a></strong>
            <div class="block">
                <ul>
                    <li><a href="/bloki-pitaniya-dlya-kozhukhov-i-kamer/">Блоки питания для кожухов и
                            камер</a></li>
                    <li><a href="/kozhukhi-i-termokozhukhi-kamer/">Кожухи и термокожухи камер</a></li>
                </ul>
                <ul class="moreinfo">
                    <li><a href="/mulyazhi-kamer/">Муляжи камер</a></li>
                    <li><a href="/kronshteyny-i-adaptery-dlya-kamer-i-monitorov/">Кронштейны и адаптеры для
                            камер и мониторов</a></li>
                    <li><a href="/povorotnye-ustroystva-dlya-kamer/">Поворотные устройства для камер</a>
                    </li>
                    <li><a href="/prozhektory-dlya-kamer/">Прожекторы для камер</a></li>
                    <li><a href="/mikrofony-dlya-kamer-i-videokonferentsiy/">Микрофоны для камер и
                            видеоконференций</a></li>
                    <li><a href="/videousiliteli-modulyatory-deliteli/">Видеоусилители, модуляторы,
                            делители</a></li>
                    <li><a href="/pulty-upravleniya-matrichnye-pereklyuchateli-dlya-videonablyudeniya/">Пульты
                            управления, матричные переключатели для видеонаблюдения</a></li>
                    <li><a href="/testery-videonablyudeniya/">Тестеры видеонаблюдения</a></li>
                </ul>
                <div class="readmore"><span>Показать все</span><span>Свернуть</span></div>
            </div>
        </li>
    </ul>
</nav>