<div class="pagination">
    {#<ul>#}
        {#<li>Начало</li>#}
        {#<li>Пред.</li>#}
        {#<li>1</li>#}

        {#<li><a href="/ip-kamery/?SECTION_CODE=ip-kamery&amp;PAGEN_1=2">2</a></li>#}

        {#<li><a href="/ip-kamery/?SECTION_CODE=ip-kamery&amp;PAGEN_1=3">3</a></li>#}

        {#<li><a href="/ip-kamery/?SECTION_CODE=ip-kamery&amp;PAGEN_1=4">4</a></li>#}

        {#<li><a href="/ip-kamery/?SECTION_CODE=ip-kamery&amp;PAGEN_1=5">5</a></li>#}

        {#<li><a href="/ip-kamery/?SECTION_CODE=ip-kamery&amp;PAGEN_1=2">След.</a></li>#}
        {#<li><a href="/ip-kamery/?SECTION_CODE=ip-kamery&amp;PAGEN_1=120">Конец</a></li>#}
    {#</ul>#}
</div>